@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    margin: 0;
    padding: 0;
  }
}

#root {
  width: 100%;
  min-height: 100%;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}